<div id="landingPage">
    <div class="container d-flex flex-column justify-content-center align-self-center">
        <div id="appTitle" class="text-center">
            <h3 class="col-12">
                {{title}}
            </h3>
            <p class="subtext">the place for all of your things</p>
        </div>
        <div id="btnHolder" class="col-10 col-md-6 col-lg-4 d-flex align-self-center justify-content-between">
            <button type="button" class="col-5 btn btn-outline-light" routerLink="/login" routerLinkActive="active">
                Login
            </button>
            <button type="button" class="col-5 btn btn-outline-light" routerLink="/register" routerLinkActive="active" >
                Register
            </button>
        </div>
    </div>
</div>